# Grup  Belajar Semester 3 Prodi Sains Data

## Belajar Python

## 1. Variabel

Variabel adalah memori yang dicadangkan untuk menyimpan nilai-nilai. 
Artinya dengan variabel, kita dapat menyimpan nilai dalam program yang nantinya akan kita tampilkan. 
Namun variabel hanya bersifat sementara.

Berikut ini merupakan aturan-aturan dalam membuat variabel.
- Karakter hanya bisa menggunakan huruf dan garis bawah(_). Untuk susunannya terserah anda
- Karakter juga bisa menggunakan angka. asalkan dikombinasikan dengan huruf atau garis bawah (contoh : var_nama1, var_nama2).
- Karakter bersifat case sensitive.

In [82]:
#deklarasi Variabel
varibel = 10
varibel

10

In [91]:
Variabel_1 = "saya senang belajar"
Variabel_1

'saya senang belajar'

In [7]:
var1 = "sains data 1"
print(var1)

sains data 1

In [93]:
var_a = "sains data 2"

In [94]:
var_a = "sains data 2"
print(var_a)

sains data 2

In [98]:
saya3senang = "belajar"
saya3senang

'belajar'

In [103]:
 = 12

SyntaxError: invalid syntax (1973759008.py, line 1)

## 2. Tipe Data

### a. string

In [52]:
print("saya senang belajar python")

saya senang belajar python

In [17]:
print(" prodi: Sains Data 2020", "prodi: Sains data 2021")

 prodi: Sains Data 2020 prodi: Sains data 2021

### b. Integer(int)

In [104]:
#b. Integer(int)
print(300)

300

In [121]:
a, a= 22, 20

In [123]:
a= 20
b= 29

In [124]:
a

20

In [106]:
type(integer)

int

### c. float

In [108]:
print(3.15)

3.15

In [112]:
float = 4.0
print(float)

bc= 3.09

4.0

In [113]:
type(bc)

float

### d. list

Pada Python, list merupakan tipe data yang dapat memuat banyak nilai. 
Dalam bahasa pemrograman lain mungkin lebih familiar dengan sebutan array.

In [126]:
buah = ["apel", "semangka", "anggur", "jambu"]

buah

['apel', 'semangka', 'anggur', 'jambu']

In [128]:
bil = [1, 2, "mangga", "apel"]
bil

[1, 2, 'mangga', 'apel']

In [131]:
kota = list("Ban dung")
kota

['B', 'a', 'n', ' ', 'd', 'u', 'n', 'g']

In [132]:
type(kota)

list

In [133]:
type(buah)

list

In [136]:
genap = [2, 4, 6, 8, 10]

In [134]:
list_kosong = []

In [135]:
list_kosong

[]

In [137]:
# mengakses item dalam list
buah = ["apel", "semangka", "anggur", "jambu"]

buah[0]

'apel'

In [138]:
buah[-1]

'jambu'

In [139]:
buah[:]

['apel', 'semangka', 'anggur', 'jambu']

In [140]:
buah[6] # ada yang tau kenapa eror gak?

IndexError: list index out of range

In [141]:
# mengubah nilai item dalam list
genap

[2, 4, 6, 8, 10]

In [142]:
genap[2] = 20

In [143]:
genap

[2, 4, 20, 8, 10]

In [144]:
genap[0]= 180

In [145]:
genap

[180, 4, 20, 8, 10]

In [54]:
#Menambah dan Mengurangi Item dalam List

Untuk menambah dan mengurangi item dalam sebuah list, 
kita dapat menggunakan method yang sudah tersedia pada python. Yaitu append dan pop

In [147]:
daftar_kosong = []
daftar_kosong

[]

In [148]:
daftar_kosong.append("pisang") #menambahakan pisang

In [149]:
daftar_kosong

['pisang']

In [157]:
daftar_kosong.append("ayam geprek")

In [153]:
daftar_kosong.append(100)
daftar_kosong

['pisang', 'ayam geprek', 100, 100]

In [155]:
daftar_kosong.pop(1)

100

In [158]:
daftar_kosong

['pisang', 100, 'ayam geprek']

In [160]:
daftar_kosong.pop(0)

'pisang'

In [163]:
daftar_kosong

[100, 'ayam geprek']

In [166]:
genap = [2, 4, 6, 8, 10]

In [167]:
genap.pop(2)

6

In [168]:
genap

[2, 4, 8, 10]

In [86]:
daftar_kosong

[10, 'ayam geprek']

In [90]:
#Mencari Panjang Sebuah List

In [171]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 20 ,20, 200]
len(angka)

12

In [172]:
# mengurutkan list
bilangan = [1, 23, 5, 30 , 23, 14, 400 , 12, 34]

In [174]:
bilangan.sort()

bilangan

[1, 5, 12, 14, 23, 23, 30, 34, 400]

In [175]:
bilangan.reverse()
bilangan

[400, 34, 30, 23, 23, 14, 12, 5, 1]

In [67]:
# nested list
prima= [1, 2, 4, 6, 10, [2, 3, 5, 7]]

In [202]:
prima[5]

[2, 3, 5, 7]

In [203]:
prima[5][2]

5

In [179]:
nilai_5 = prima[5][2]
nilai_5

5

In [70]:
prima[5][2]

5

In [180]:
ganjil = [1, 3, 5, 7 , 9]

In [181]:
genap = [2, 4 , 6, 8, 10]

In [182]:
bilangan = ganjil + genap

In [183]:
bilangan

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [185]:
bilangan.sort()
bilangan

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [189]:
bilangan.reverse()
bilangan

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [190]:
genap = [2, 4 , 6, 8, 10]

In [ ]:
ganjil = [1, 3, 5, 7 , 9]

In [196]:
nama = ["otong"]

In [197]:
bilangan2 = [ganjil, genap, nama]

In [198]:
bilangan2

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], ['otong']]

In [199]:
for i in ganjil:
    print(i)

1
3
5
7
9

In [200]:
for angka in genap:
    print(angka)

2
4
6
8
10

In [201]:
for i in genap:
    print(i, "merupakan angka genap")

2 merupakan angka genap
4 merupakan angka genap
6 merupakan angka genap
8 merupakan angka genap
10 merupakan angka genap

### e. tuple


- Tuple adalah 1 dari 4 tipe data kolektif pada python yang berguna untuk menyimpan lebih dari satu nilai dalam satu   variabel secara sekaligus [1].

- Tuple bersifat ordered (terurut) dan juga bersifat unchangable (tidak bisa diubah). Ordered berarti datanya bisa kita akses menggunakan indeks, dan unchangeable berarti datanya tidak akan pernah bisa diubah setelah pertama kali definisikan.

- Dalam python, tipe data tuple didefinisikan dengan tanda kurung ()

Apa bedanya Tuple dengan List?
Tuple sama saja dengan list. Dia sama-sama digunakan untuk menyimpan data himpunan. Sama-sama bisa menampung berbagai macam tipe data dalam satu himpunan. Hanya saja setelah diberi nilai, tuple tidak bisa diubah lagi. Hal ini berbeda dengan list.

Dari segi penulisan, list menggunakan kurung siku [] sedangkan tuple menggunakan kurung biasa ()

In [204]:
Tuple_jenis_kelamin = ('pria', 'wanita')

In [205]:
type(Tuple_jenis_kelamin)

tuple

In [212]:
status = 'jomlo', 'single', ' menikah'

In [96]:
type(status)

tuple

In [207]:
buku = tuple(['mat', 'kim', 'bio', 'fis'])

In [208]:
type(buku)

tuple

In [214]:
status

('jomlo', 'single', ' menikah')

In [215]:
status[1] = "menikah"

TypeError: 'tuple' object does not support item assignment

### f. dictionary

Dictionary adalah tipe data pada python yang berfungsi untuk menyimpan kumpulan data/nilai dengan pendekatan “key-value”.

Dictionary items memiliki 3 sifat, yaitu:

- Unordered - tidak berurutan
- Changeable - bisa diubah
- Unique - alias tidak bisa menerima dua keys yang sama

In [ ]:
'''
nama : alfianri
Nim  :1234
Prodi: sains data

'''

In [260]:
biodata = {"nama": "budi",
            "Nim": 1234,
            "prodi":"sains data"
}

In [250]:
biodata

{'nama': 'budi', 'Nim': 1234, 'prodi': 'sains data'}

In [251]:
type(biodata)

dict

In [252]:
biodata.get('nama')

'budi'

In [253]:
biodata.get("prodi")

'sains data'

In [267]:
biodata.get("prodi"),("Nim")

('sains data', 'Nim')

In [15]:
biodata['nama']

'otong'

In [24]:
biodata.get("nim")

12345

In [268]:
# cara kedua
buku = dict(
  judul="antara dia dan kamu",
  penulis="pesulap merah"
)

In [269]:
# mengubah nilai item
buku

{'judul': 'antara dia dan kamu', 'penulis': 'pesulap merah'}

In [270]:
type(buku)

dict

In [271]:
buku['judul'] = "python for data science"

In [272]:
buku

{'judul': 'python for data science', 'penulis': 'pesulap merah'}

In [273]:
buku['tahun'] = 2022

In [274]:
buku

{'judul': 'python for data science', 'penulis': 'pesulap merah', 'tahun': 2022}

In [275]:
buku.pop('tahun')

2022

In [276]:
buku

{'judul': 'python for data science', 'penulis': 'pesulap merah'}

In [34]:
del buku['tahun']

In [35]:
buku

{'judul': 'python for data science', 'penulis': 'pesulap merah'}

### g. bolean

boolean merupakan tipe data yang hanya dapat memuat 2 nilai yaitu true dan false. Tipe data ini sangat berguna dalam penyusunan algoritma pemrograman khususnya ketika kita mulai berurusan dengan kondisi dan perulangan.

In [278]:
a = True
b = False

In [279]:
type(a)
type(b)

bool

In [280]:
print(a,b)

True False

In [281]:
20 > 19

True

In [282]:
20 < 19

False

In [283]:
2000 < 9

False

In [285]:
a = 10

In [287]:
a == 10

True

In [288]:
9*9 == 3**4

True

In [305]:
"Inva" == "Inva"

True

In [304]:
 "Soto" != "Sate"

True

In [292]:
1 != 2-1

False

In [306]:
"soto" == "sate"

False

In [51]:
2>0 and 9<10 # True AND True = True
2<0 and 9>10 # False AND True = False
2<0 or 9>10 # False OR True = True
not(True or False) # not(True) = False

False

In [296]:
2>1 and 8<10

True

In [297]:
3<0 and 1>-2

False

In [300]:
2>4  or 3<6

True

In [303]:
not ( 3< 10 or 2>1)

False

In [4]:
nama = input(float('Masukkan nama anda: '))
Prodi = input(float("masukkan NIM kamu : "))

print('selamat anda lulus di itera')

ValueError: could not convert string to float: 'Masukkan nama anda: '

In [5]:
panjang = input(('Masukkan panjang Persegi: '))
lebar = input(('Masukkan lebar : '))

print("luas persegi panjang adalah:" ,panjang*lebar)

Masukkan panjang Persegi: 10
Masukkan lebar : 30

TypeError: can't multiply sequence by non-int of type 'str'